/* # RESET */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* # UTILS */

.container {
  margin: 0 auto;
  padding: 0 10px;
  width: 1000px;
  max-width: 100%;
}

.div-body {
  font-family: sans-serif;
}

/* ________ HEADER ________ */

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 22px 20px;

  /* debug */
  background-color: lightgray;
}

.header-sx {
  display: flex;
  align-items: center;
}

.header-sx > img {
  padding-right: 30px;
}

.info-sx > span,
.header-dx span,
.header-dx button {
  padding: 0 20px;
}

/* ________ MAIN ________ */

.hero {
  /* debug */
  background-color: aqua;
}

.hero > .container {
  padding: 40px 0;
}

.hero > .container > h1 {
  font-size: 4rem;
}

.hero-section {
  display: flex;
}

.hero-description {
  display: flex;
  flex-direction: column;

  max-width: 30%;
}

.hero-description > p,
.hero-description > span {
  padding: 30px 0;
}

.hero-image > img {
  max-width: 100%;
}

/* ________ FOOTER ________ */
